.header {
    background-image: url("../../assets/images/weather-clouds-r.jpg");
    background-size: cover;
    
}

.header-text {
    color: white;
    font-size: 70px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
}

.searchbar {
    border-color: 2px #000;
}